{% extends "navbar.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="form-container">

<h1 class="title">Login</h1>


<form action="{{ url_for('login') }}" method="POST">

  <label for="email">EMAIL</label>
  <input type="email" id="email" name="email" placeholder="username@email.com" required>

  <label for="password">PASSWORD</label>
  <input type="password" id="password" name="password" placeholder="******" required>

  <button class="signupbtn" type="submit">Log In</button>

  {% if msg %}
  <p class="message">{{ msg }}</p>
  {% endif %}

</form> 
<div class="not-registered">

Not Registered? <a href="{{ url_for('register') }}">Create an account</a>
</div>
</div>
{% endblock %}
