{% extends "navbar.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}

<div class="form-container">

<h1 class="title">Create New Account</h1>

<form action="{{ url_for('register') }}" method="POST">

<label for="name">NAME</label>

<input type="text" id="name" name="username" placeholder="Jiara Martins" required value="{{ request.form.username | default('') }}">

<label for="email">EMAIL</label>

<input type="email" id="email" name="email" placeholder="hello@reallygreatsite.com" required value="{{ request.form.email | default('') }}">

<label for="password">PASSWORD</label>

<input type="password" id="password" name="password" placeholder="******" required>

<button class="signupbtn"type="submit">Sign Up</button>

{% if msg %}

<p class="message">{{ msg }}</p>

{% endif %}

</form>

<div class="already-registered">

Already Registered? <a href="{{ url_for('login') }}">Login here</a>

</div>

</div>

{% endblock %}
